.about-quote__text {
  margin: 0 auto;
  max-width: 60rem;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  line-height: 1.35;
  font-size: 2.2rem;
}

@media screen and (min-width: 750px) {
  .about-quote__text {
    font-size: 3rem;
  }
}
